<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- Définition des cibles où NLog va écrire les messages de log -->
  <targets>
    <!-- Définition d'une cible de type fichier -->
    <target xsi:type="File" name="logfile"
            fileName="${basedir}/logs/${shortdate}.txt"
            layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <!-- Règles pour mapper les niveaux de log aux cibles -->
  <rules>
    <!-- Écrit tous les niveaux de log (de Debug à Fatal) dans la cible "logfile" -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>